<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-info bg-gradient">
    <div class="container">
      <h1>URL Shrinker</h1> 
      
      <form action="/shorturls" method="post" class="my-4 form-inline">
        <label for="fullurl" class="sr-only">Url</label>
        <input
          type="url"
          name="fullurl"
          id="fullurl"
          class="form-control col mr-2"
          placeholder="url.."
          required
        />
        <button type="submit" class="btn btn-success">Shrink</button>
      </form>
      <table class="table table-striped table-responsive">
        <thead>
          <td>Full url</td>
          <td>Short url</td>
          <td>Clicks</td>
        </thead>
        <tbody>
          <% shorturls.forEach(shorturl => { %>
          <tr>
            <td><a href="<%= shorturl.full %> "><%= shorturl.full %></a></td>
            <td><a href="<%= shorturl.short %> "><%= shorturl.short %></a></td>
            <td><%= shorturl.clicks %> </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
